::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3),0 0 2px rgb(156, 156, 156) ;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent), #ffa175;
}


/* normalize nav a tags */
.app__main__nav a{
    text-decoration: none;
    color: inherit;
}





.app__main__nav {
    background: var(--secondaryColor);
    width: 233px;
    height: 100%;
    box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.16);
    font-size: 12px;
    position: fixed;
    transition: 0.2s transform ease;
    transform: translatex(0);
    display: block !important;
    overflow-y: auto;
    padding-bottom: 40px;
    padding-top: 85px;
    top: 0;
}

.hide__main__nav .app__main__nav {
    transform: translatex(-235px);
}

.app__main__nav i {
    margin-right: 25px;
    color: #5d5d5d;
    font-size: 24px;
}

.link-icon {
    opacity: 0.6;
    margin-right: 25px;
}

.app__main__nav .nav__link {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 5px;
    font-weight: 500;
    letter-spacing: 0.3px;
    cursor: pointer;
}

.app__main__nav .nav__link:hover {
    background: #d8d8d8;
}

.app__main__nav .active {
    background: #d8d8d8;
    font-weight: 700;
    color: #F46A4E;
}

.app__main__nav .active i {
    color: inherit;
}

.app__main__nav :first-child {
    margin-top: 0 !important;
}


/*sections*/

.link__category {
    position: relative;
    border-top: 1px solid lightgrey;
    padding-top: 29px;
}

.link__category h3 {
    padding: 0 22px;
    margin-bottom: 29px;
    letter-spacing: 0.3px;
    font-size: 13px;
    font-weight: 400;
}


/* category  edit*/

.js-category {
    position: relative;
    height: auto;
    width: 100%;
}

.js-catergory-editbtn {
    position: absolute;
    top: -3px;
    right: 20px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 500;
}

.js-catergory-editbtn:hover {
    background: lightgray;
}


/* all notes */

.all__notes {
    margin-bottom: 10px !important;
}