/* initial stage */

.o-editor-body {
    width: 100%;
    height: auto;
    padding: 0.1px;
}

.editor-section {
    width: 100%;
    height: 100%;
}

.editor-category {
    display: none;
    margin: 10px 15px 3px;
    user-select: none;
}

.editor-category span {
    font-size: 12px;
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: underline;
    cursor: pointer;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.editor-category span:active {
    background: lightgrey;
}

.note_desc_editor {
    font-size: 14px;
    padding: 12px 15px 15px 15px;
    font-family: 'Roboto Slab', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 46px;
}

.note_title_editor {
    font-family: 'Roboto Condensed', 'segoe ui';
    font-weight: 600;
    background: transparent;
    font-size: 16px;
    padding: 10px 15px;
    display: none;
}

/* when editor opened */

.editor-opened .editor-category, .editor-opened .note_title_editor {
    display: block;
}