/* global variables */
:root{
    --primary-color: #F46A4E;
    --secondaryColor:#e8e8e8;
}
input,
textarea,
[contenteditable] {
  caret-color: var(--primary-color);
}
[contenteditable]:focus{
    outline: none;
}
.material-icons{
    user-select: none;
}

/* normalize */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    font-family: Roboto,'segoe ui';
}

body{
    background: rgb(232, 232, 232);
}




/*main wrapper around everything of the app exporting from App component*/
.js-wrapper {
    position: relative;
    height: calc(100% + 120px);
    display: flex;
    top: 60px;
}


.o-main{
    width: 100%;
    margin-left: 233px;
    padding: 41px 0;
    transition: 0.2s margin ease;
    margin-bottom: 140px;
}
.hide__main__nav .o-main{
    margin-left: 0;
}

.o-main-layout{
    max-width: 720px;
    margin: 0 auto;
    height: auto;
    width: 90%;
}

