.o-notes-wrapper {
  /* display: flex; */
  width: 100%;
  /* flex-flow: row wrap; */
  height: auto;
  /* justify-content: space-between; */
  margin-top: 10px;
  height: auto;
  /* align-items: flex-start; */
}

.o-notes-wrapper h1 {
  font-size: 28px;
  margin: 2em 36%;
  font-weight: 400;
}

.o-notes-container {
  width: 100%;
  height: auto;
  margin-top: 90px;
}

.o-note {
  height: auto;
  /* margin: 10px; */
  border-radius: 1px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: box-shadow 0.2s ease, all 150ms ease-in, width 0ms ease;
  transform: scale(1);
  min-width: 30%;
  background: #fafafa;
  width: 30%;
  will-change: margin, box-shadow, width, transform, top, box-shadow;
}

.o-note:hover {
  box-shadow: 2px 4px 14px rgba(0, 0, 0, 0.24);
}

.o-note .o-samsung-checkbox {
  position: absolute;
  top: -23px;
  left: -26px;
  z-index: 99;
  transform: scale(0);
  transition: 0.2s all ease;
}

/* when the note is opened */

.o-note.active {
  position: fixed !important;
  margin: 0 auto;
  left: 0 !important;
  right: 0 !important;
  top: 15% !important;
  z-index: 999;
  box-shadow: 1px 2px 11px -2px rgba(0, 0, 0, 0.29);
  width: 600px !important;
  cursor: auto;
  transition: top 0.2s ease;
}

.active-note-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  transition: 0.2s opacity, visibility ease;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.623);
}

.active-note-overlay.active {
  opacity: 1;
  visibility: inherit;
}

/* when editmode is on, don't respond to user events */

.js-edit-mode .o-editor-body,
.js-edit-mode .o-editor-footer {
  pointer-events: none;
}

.js-edit-mode .o-note:hover {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* initially note's save button will be hidden */

.o-note .editor-action-btn {
  opacity: 0;
  pointer-events: none;
}

.o-note.active .editor-action-btn {
  opacity: 1;
  pointer-events: all;
}

/* this will open when clicked on move note */

.category-picker-interface {
  background: #fafafa;
  padding: 5px 20px 20px;
  border-bottom: 1px solid lightgrey;
  width: 100%;
  height: auto;
}

.category-picker-interface.collapse {
  transition: 0.3s all ease;
  height: 0;
  overflow: hidden;
  padding: 0;
  visibility: hidden;
}
.category-picker-interface.opened {
  visibility: visible;
  height: auto;
  padding: 5px 20px 20px;
}

.category-picker-interface header {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: center;
  flex-flow: row wrap;
}

@media (max-width: 26.562em) {
  .category-picker-interface header {
    justify-content: center;
  }
}

.category-picker-interface header h1 {
  font-size: 14px;
}

/* add category */
.category-picker-interface .add-category-interface {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgb(232, 232, 232);
  border-radius: 3px;
}

@media (max-width: 26.562em) {
  .category-picker-interface .add-category-interface {
    margin-top: 10px;
  }
}

.add-category-interface input {
  border: none;
  background: none;
  padding: 6px 10px;
}
.add-category-interface input:focus {
  outline: none;
}

.add-category-interface i {
  color: rgba(0, 0, 0, 0.637);
  height: 100%;
  background: rgb(219, 219, 219);
  padding: 5px 7px;
  cursor: pointer;
}

.category-wrapper {
  display: flex;
  /* justify-content: space-around; */
  align-items: baseline;
  margin-top: 30px;
  flex-flow: row wrap;
}

.category-picker-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  background: #f9f9f9;
  padding: 5px 8px;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
  margin-bottom: 20px;
  margin-left: 10px;
}
.category-picker-category:hover {
  background: #f1f1f1;
}
