.c-main-editor {
  width: 80%;
  height: auto;
  background: rgb(250, 250, 250);
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 1px;
}

@media (max-width: 48em) {
  .c-main-editor {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}

.c-main-editor .o-editor-footer {
  display: none;
}

/* .editor-opened is the class
 that's gonna toggle the editor appearence */

.editor-opened .o-editor-header,
.editor-opened .o-editor-footer {
  display: flex;
}

.c-main-editor.editor-opened {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* title and category is hidden when editor is closed */
.c-main-editor .editor-category,
.c-main-editor .note_title_editor {
  display: none;
}

/* editor title and category is visible when editor opens */
.editor-opened .editor-category,
.editor-opened .note_title_editor {
  display: block;
}
