::-webkit-scrollbar {
  width: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

/* utility */
.hide-in-desktop {
  display: none !important;
}
.hide-in-mobile {
  display: initial !important;
}

@media (max-width: 48em) {
  .hide-in-desktop {
    display: initial !important;
  }
  .hide-in-mobile {
    display: none !important;
  }
}
