.o-app-header{
    width: 100%;
    height: 60px;
    background: #FAFAFA;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
    z-index: 10;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center; 
    justify-content: space-between
}

.c-samsung-title{
    font-size: 14px;
    font-weight: 600;
    margin-left: 45px;
    line-height: 60px;
    display: inline-block;
}